<div class="panel panel-primary">
  <div class="panel-heading"><h3><%= "Song details: #{@song.songtitle}" %></h3>
    <p align="right"><%= link_to "Back to artists", artists_path, class: "btn btn-primary" %></p>
  </div>


    <div class="panel-body">
      <h4>Songtitle: </h4>
      <p><%= @song.songtitle %></p>
      <h4>Albumtitle: </h4>
      <p><%= @song.album %></p>
      <h4>Released in:</h4>
      <p><%= @song.releaseyear%></p>
      <p align="right"><%= link_to "Delete", song_path(@song), :method => :delete, class: "btn btn-primary"%></p>

    </div>
  </div>
</div>

<div class="panel">
  <div class="panel-body">

  </div>
</div>
